:root{
    background-color: teal;
    font-family:Arial, Helvetica, sans-serif;
}
.links ul {
    list-style: none;
    padding: 0.3rem;
    margin: 0;
    display: flex;
    justify-content:end; 
    gap: 20px; 
    align-items: center;          
}
h2 {
    text-align: center;
}
.links a.active {
    font-weight: bold;
    color: #007bff;     
}
.links a {
    top: 22%;
    display: inline-block;
    padding: 0.6rem 0.8rem;
    color: black;
    font-weight: 300;
    text-transform: uppercase;
    transition: 0.3s;
    font-size: 0.8rem;
    color:navy;            
    border-radius: 2.5rem;
    text-decoration: none;
}

.links a.active {
    background-color: #00d4ff;
    color: azure;
    border-radius: 2.5rem;
    padding: 0.6rem 1rem;
}

.links a:hover {
    color:#00d4ff;
}

.links a.active:hover {
    color: azure;
    background-color: var(--hover-blue);
}